<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="vivaldi" version="5.6.2867.40"/>
	<package id="microsoft-windows-terminal" version="1.15.3465.0"/>
	<package id="everything" version="1.4.11022"/>
	<package id="tailscale" version="1.34.1"/>
	<package id="git" version="2.39.0"/>
	<package id="python" version="3.11.0"/>
	<package id="nodejs" version="19.2.0"/>
	<package id="vscode" version="1.74.1"/>
	<package id="discord" version="1.0.9005"/>
	<package id="winrar" version="6.11.0.20220504"/>
	<package id="vlc" version="3.0.18"/>
	<package id="teracopy" version="3.9.2"/>
	<package id="warp" version="22.10.106.0"/>
	<package id="x-mouse-button-control" version="2.19.2"/>
	<package id="avro-keyboard" version="5.6.0"/>
	<package id="aimp" version="5.10.2414"/>
	<package id="handbrake" version="1.5.1"/>
	<package id="obs-studio" version="28.1.2"/>
	<package id="screentogif.install" version="2.37.0"/>
	<package id="audacity" version="3.2.2"/>
	<package id="notepadplusplus" version="8.4.7"/>
	<package id="parsec" version="20220728.00"/>
	<package id="teamviewer" version="15.37.3"/>
	<package id="qbittorrent" version="4.4.5"/>
	<package id="epicgameslauncher" version="1.3.51.0"/>
	<package id="steam" version="2.10.91.91221129"/>
</packages>
